.container {
    width: 86%;
     margin: 0 auto;
    /* max-width: 1440px; */
   
 }
 .header__hamburger {
    display: none;
}
.bar__x{
    display: none;
}
.lang__mobil{
    display: none;
}

@media screen and (max-width: 1080px) {
    .header{
        width: 100%;
        padding: 10px ;
        color: #151a30;
        border-radius: 0;
    }
    .header__logo img{
        width: 80px;
        margin-top: 16px;
    }
   .header__nav{
    display: none;
   }
   
   .header__right-lang{
    display: none;
   }
   .buy__ticket{
    display: none;
   }

    .header__hamburger {
        display: block;
        cursor: pointer;
        margin: 12px 0;
    }

    .bar {
        width: 34px;
        height: 2px;
        background-color: #fff;
        margin: 6px 0;
        transition: background-color 0.3s ease;
    }


    .header__hamburger.open .bar {
        background-color: transparent;
    }
    .header__hamburger.open .bar__x{
        display: block;
    }


.bar__x {
    display: none;
    font-size: 24px;
    margin-top: 8px;
    color: #fff;
}
.lang__mobil{
    display: block;
    border: 1px solid #151a30;
    width: 60px;
    margin-left: -18px;
    color: #151a30 !important;
}
.header__mobil.open {
    padding: 40px;
    display: block;
    position: fixed;
    left: 0;
    top: 80px; 
    width: 250px;
    height: calc(100% - 80px);
    background-color: #151a30;
   color: #151a30 !important;
    transition: left 0.3s ease;
    z-index: 1;
}
.header__nav__elements{
display: flex;
flex-direction: column;
color: #151a30 !important;
}

.header__hamburger.open .bar {
    display: none;
}

.header__hamburger.open .bar__x {
    display: block;
}

.header__hamburger.open .header__mobil {
    display: block;
   
}

  
}

@media screen and (max-width: 1280px){
    .elevate__main{
        display: flex;
        flex-direction: column;
    }
    .elevate_left{
        width: 80%;
    }
}
@media screen and (max-width: 780px){
    .elevate_left{
        width: 100%;
        margin: 20px 0;
    }
    .elevate__main{
      width: 100%;
    }
    
}
@media screen and (max-width: 600px){
    .elevate_h{
        font-size: 34px;
        line-height: 60px;
    }
    .buy__ticket-open{
        width: 400px;
    }
}
@media screen and (max-width: 400px){
   
    .buy__ticket-open{
        width: 340px;
    }
}