.header {
    background-color: #101426;
    padding: 24px 20px;
    display: flex;
    justify-content: space-between;
    /* color: #fff; */
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.header__logo{
    cursor: pointer;
}
.header__nav__elements {
    display: flex;
    padding-top: 20px;
    gap: 22px;
    font-weight: 500;
    color: #fff;
    justify-content: space-between;
    list-style-type: none;
}

.header__nav__elements li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease; 
}

.header__nav__elements li a:hover {
    color: #e32682; 
}

.header__right {
    display: flex;
    gap: 8px;
    padding-top: 8px;
}

.header__right-buy {
    display: flex;
    gap: 2px;
}

.header__right-buy {
    display: flex;
    gap: 2px;
    cursor: pointer;
    transition: all 0.5s ease; 
}

.header__right-buy:hover .buy__ticket {
    background-color: #e32682;
    color: #fff; 
    cursor: pointer;
}

.header__right-buy:hover .buy__ticket-ticket {
    background-color: #e32682;
   
}

.buy__ticket {
    height: 46px;
    background-color: #fff;
    border-radius: 8px;
    padding: 9px 32px;
    font-size: 18px;
    outline: none;
    border: none;
    transition: background-color 0.5s ease, color 0.5s ease; 
}

.buy__ticket-ticket {
    width: 38px;
    height: 46px;
    border-radius: 8px;
    padding: 14px 8px;
    background-color: #fff;
    transition: background-color 0.5s ease, background-image 0.5s ease; 
}


.header__right-lang select {
    background-color: transparent;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 11px 16px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    font-size: 16px;
    height: 46px;
    outline: none;
}

.header__right-lang {
    position: relative;
}

.header__right-lang::after {
    content: '▼';
    font-size: 12px;
    color: #fff;
    position: absolute;
    top: 48%;
    right: 2px;
    transform: translateY(-50%);
    pointer-events: none;
}

.header__right-lang select option {
    background-color: #101426;
    color: #fff;
    border: none;
    cursor: pointer;
}


.buy__ticket-open{
    position: fixed;
    /* top: 80px; */
    right: 0;
    width: 500px;
    height: 100%;
    background-color: #fff;
    z-index: 1000;
    justify-content: space-between;
    display: flex ;
    overflow-y: auto;
    gap: 2px;
    padding: 20px 10px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
}
.buy__ticket-openn{
    display: flex;
}
.buy__ticket-open__img img {
    width: 100px;
    border-radius: 16px;
    height: auto;
}


.buy__ticket-open__des {
    font-family: 'Euclid Circular', 'Arial', sans-serif !important;
   width: 100%;
  border-radius: 16px;
  padding: 10px;
   height: 100px;
    border: 1px solid #e4e9f2;
}

.open__des-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1C1C3C;
}

.open__des-head h2 {
    font-size: 24px;
    margin: 0;
}
.des-head-price{
    color: #e32682;
    font-weight: 600;
}
.open__des-des {
    display: flex;
    gap: 40px;
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}
.des-des-place-design{
    width: 6px;
    height: 6px;
    background-color: #101426;
    border: 1px ;
}

body{
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #1C1C3C;
    /* background-color:  #302128 ; */
    color: #fff;
    /* overflow-x: hidden; */
    
}
.main {
    display: flex;
    justify-content: space-between;
    background: (257deg, rgb(21, 26, 48) 0%, rgb(33, 29, 77) 28%, rgb(39, 22, 48) 70%, rgb(15, 24, 54) 100%), linear-gradient(0deg, rgba(21, 26, 48, 0.4) 0%, rgba(21, 26, 48, 0.4) 100%);
    
}
.elevate__main{
    width: 86%;
    margin:  0 auto;
    padding: 0 18px;
}
.elevate_h {
    font-size: 48px;
    font-family: Euclid Circular A, sans-serif;
    color: #EDF1F7;
    line-height: 84px;
    margin-bottom: 48px;
    font-weight: 600;
    width: 623px;
    height: 252px;
    /* margin-left: 80px; */
    /* margin-top: 110px; */
}

.elevate_p {
    color: #E4E9F2;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: Euclid Circular A, sans-serif;
    width: 546px;
    height: 96px;
    /* margin-left: 80px; */
}

.elevate_button {
    display: flex;
    margin-top: 10px;
}

.events_button {
    font-family: Euclid Circular A, sans-serif;
    display: flex;
    align-items: center;
    background-color: #fff;
    color: #222B45;
    border: none;
    padding: 12px 36px;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: 500;
    margin-top: 40px;
}

.events_button:hover {
    background-color: #e32682;
    color: #fff;
}
.arrow_right {
    background-color: #222b45;
    margin-left: 15px;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    padding: 4px;
    transition: background-color 0.3s ease, stroke 0.3s ease;
}

.events_button:hover .arrow_right {
    background-color: #fff;
    stroke: #e32682; 
}

.images {
    display: flex;
    margin-left: 0px;

}

.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
    width: 200px;
}

.column img {
    width: 100%;
    border-radius: 10px;
    animation: float 6s linear infinite;
}

/* 1-ci və 3-cü sütun üçün animasiya (yuxarı hərəkət) */
.column-up img {
    animation-name: moveUp;
}

@keyframes moveUp {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(-100%);
    }
}

/* 2-ci sütun üçün animasiya (aşağı hərəkət) */
.column-down img {
    animation-name: moveDown;
}

@keyframes moveDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100%);
    }
}

